In [79]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [42]:
# I dont like SN so I changed it to Players Name
purchase_data.rename(columns={'SN':'Player Name'}, 
          inplace=True)


#I am verifying that the new column name is Players name
purchase_data.columns


# counting the total number of unique players in the dataframe
players= len(purchase_data['Player Name'].unique())

players

In [47]:
Num = len(purchase_data['Item Name'].unique())
Num

priceavg = purchase_data['Price'].mean()
priceavg

# finding totale revenue by summing all the prices
priceavg1 = purchase_data['Price'].sum()
priceavg1

purchasetot = len(purchase_data['Purchase ID'])
purchasetot

179

In [76]:
# Summary Stats unfortunatley I couldnt format the cells to sow accurate symbols

Purchasing_Analysis_Total= pd.DataFrame({"Number of Unique Items":[Num],"Average Purchase Price in dollars":[priceavg],
                                         "Total Number of Purchases": [purchasetot], "Total Revenue in dollars":[priceavg1],
                                         "Player Count": [players] })
Purchasing_Analysis_Total

,Number of Unique Items,Average Purchase Price in dollars,Total Number of Purchases,Total Revenue in dollars,Player Count
0,179,3.050987,780,2379.77,576

In [65]:
# creating new datasets/dataframes by gender
Female_purchasedata = purchase_data.loc[purchase_data['Gender'] == 'Female']
Female_purchasedata


male_purchasedata = purchase_data.loc[purchase_data['Gender'] == 'Male']
male_purchasedata

113

In [67]:
# Group counts based on Gender
fplayers= len(Female_purchasedata['Player Name'].unique())

fplayers

mplayers= len(male_purchasedata['Player Name'].unique())

mplayers

nogender= players-mplayers-fplayers
nogender

81

In [80]:
#player percentages and output data frame
Maleper= (mplayers/players)*100
Femaleper= (fplayers/players)*100
nogenderper= (nogender/players)*100

Demographics_Gender= pd.DataFrame({"Gender": ['Male', 'Female' , 'Other/Non-Disclosed'],
                                         "Percentage Of Players in %": [Maleper,Femaleper,nogenderper],
                                         "Player Count":[mplayers,fplayers,nogender]})

Demographics_Gender

                Gender  Percentage Of Players in %  Player Count
0                 Male                   84.027778           484
1               Female                   14.062500            81
2  Other/Non-Disclosed                    1.909722            11

In [87]:
# Male and Female purchase counts
purcountf = len(Female_purchasedata['Purchase ID'].unique())

purcountm = len(male_purchasedata['Purchase ID'].unique())

purcountno = len(nogender_purchasedata1['Purchase ID'].unique())

# male and female average purchase price
priceavgf = Female_purchasedata['Price'].mean()
priceavgf

priceavgm = male_purchasedata['Price'].mean()
priceavgm

priceavgno = nogender_purchasedata1['Price'].mean()
priceavgno
# Male and female total purchase value
totpurchasef = Female_purchasedata['Price'].sum()
totpurchasef

totpurchasem = male_purchasedata['Price'].sum()
totpurchasem

totpurchaseno = nogender_purchasedata1['Price'].sum() 


Purchasing_Analysis_Gender1= pd.DataFrame({"Gender": ['Male', 'Female' , 'Other/Non-Disclosed'],
                                         "Purchase Count": [purcountm,purcountf,purcountno],
                                         "Average Purchase Price in Dollars":[priceavgm,priceavgf,priceavgno],
                                          "Total Purchase Value in Dollars":[totpurchasem,totpurchasef,totpurchaseno]})

Purchasing_Analysis_Gender1

,Gender,Purchase Count,Average Purchase Price in Dollars,Total Purchase Value in Dollars
0,Male,652,3.017853,1967.64
1,Female,113,3.203009,361.94
2,Other/Non-Disclosed,15,3.346000,50.19

In [83]:
# used this to extract data of the no Gender or non disclosed category of Gender

nogender_purchasedata = purchase_data.loc[purchase_data['Gender'] != 'Female'] 
nogender_purchasedata

nogender_purchasedata1 = nogender_purchasedata.loc[purchase_data['Gender'] != 'Male']
nogender_purchasedata1

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [84]:
nogender_purchasedata1 = nogender_purchasedata.loc[purchase_data['Gender'] != 'Male']
nogender_purchasedata1

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [124]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15 - 19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35 - 39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 - 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 - 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 - 24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20 - 24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35 - 39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,15 - 19
8,8,Undjask33,22,Male,21,Souleater,1.10,20 - 24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,30 - 34
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,30 - 34
16,16,Lisirra25,20,Male,40,Second Chance,2.52,15 - 19
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,25 - 29
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,15 - 19
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,15 - 19
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35 - 39
23,23,Eyrian71,40,Male,151,Severance,3.40,35 - 39
24,24,Siala43,30,Male,132,Persuasion,3.19,25 - 29
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25 - 29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10 - 14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,Under 10
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35 - 39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,Under 10
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,Under 10
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,25 - 29
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,Under 10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,Under 10
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25 - 29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30 - 34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30 - 34
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10 - 14
60,60,Yadanu52,34,Male,44,Bonecarvin Battle Axe,2.38,30 - 34
68,68,Indonmol95,15,Male,27,"Riddle, Tribute of Ended Dreams",3.30,10 - 14
76,76,Mindadaran26,13,Female,88,"Emberling, Defender of Delusions",3.75,10 - 14
113,113,Phyali88,15,Female,140,Striker,2.94,10 - 14
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,Over 40
341,341,Hiasurria41,41,Male,71,Demise,1.61,Over 40
477,477,Mindossa76,41,Male,173,Stormfury Longsword,4.93,Over 40
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93,Over 40
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00,Over 40

In [125]:
# Creating Bins for age demogrphics
bins = [0,10,15,20,25,30,35,40,200]
age_groups = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

In [126]:
purchase_data["Age groups"] = pd.cut(purchase_data["Age"], bins, labels=age_groups, include_lowest=True)
#purchase_data

ValueError: setting an array element with a sequence

In [127]:
purchase_data = purchase_data.groupby("Age groups")
#purchase_data.max()

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [130]:
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15 - 19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35 - 39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 - 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 - 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 - 24
...,...,...,...,...,...,...,...,...
477,477,Mindossa76,41,Male,173,Stormfury Longsword,4.93,Over 40
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93,Over 40
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00,Over 40
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,Over 40
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,Over 40

In [128]:
# Male and Female purchase counts
purcountf = len(Female_purchasedata['Purchase ID'].unique())

purcountm = len(male_purchasedata['Purchase ID'].unique())

purcountno = len(nogender_purchasedata1['Purchase ID'].unique())

# male and female average purchase price
priceavgf = Female_purchasedata['Price'].mean()
priceavgf

priceavgm = male_purchasedata['Price'].mean()
priceavgm

priceavgno = nogender_purchasedata1['Price'].mean()
priceavgno
# Male and female total purchase value
totpurchasef = Female_purchasedata['Price'].sum()
totpurchasef

totpurchasem = male_purchasedata['Price'].sum()
totpurchasem

totpurchaseno = nogender_purchasedata1['Price'].sum() 


Purchasing_Analysis_Gender1= pd.DataFrame({"Gender": ['Male', 'Female' , 'Other/Non-Disclosed'],
                                         "Purchase Count": [purcountm,purcountf,purcountno],
                                         "Average Purchase Price in Dollars":[priceavgm,priceavgf,priceavgno],
                                          "Total Purchase Value in Dollars":[totpurchasem,totpurchasef,totpurchaseno]})

Purchasing_Analysis_Gender1

,Gender,Purchase Count,Average Purchase Price in Dollars,Total Purchase Value in Dollars
0,Male,652,3.017853,1967.64
1,Female,113,3.203009,361.94
2,Other/Non-Disclosed,15,3.346000,50.19